= form_tag url_for(), class: '', method: :get do |f|
  .form-group.input-group
    .input-group-prepend
      %span#basic-addon1.input-group-text
        %i.material-icons search
    %input.form-control{id: 'q', name: 'q', type: 'text', placeholder: 'search', value: params[:q]}
    .input-group-append
      = submit_tag 'Search', class: 'btn btn-light'


%table.table
  %thead
    %tr
      %th Email
      %th Created
      %th.text-right Record Changes
  %tbody
    - @users.each do |user|
      %tr
        %td
          = user.email
        %td
          = format_date(user.created_at)
          .small.text-muted= "#{distance_of_time_in_words(user.created_at, Time.now)} ago"
        %td.text-right
          = user.versions.count

= paginate @users
