!!!
%html
  %head
    = render 'layouts/head'

  %body#admin
    = render 'layouts/alerts'
    = render 'layouts/navigation'

    #navigation.navdrawer.navdrawer-permanent.navdrawer-permanent-clipped{"aria-hidden" => "true", tabindex: "-1"}
      .navdrawer-content
        %ul.navdrawer-nav
          %li.nav-item
            = link_to dashboard_admin_pages_path, class: 'nav-link' do
              %i.material-icons.mr-3 dashboard
              Dashboard
            = link_to entries_admin_pages_path, class: 'nav-link' do
              %i.material-icons.mr-3 view_list
              Entries
            = link_to admin_users_path, class: 'nav-link' do
              %i.material-icons.mr-3 person
              Users
            = link_to utilities_admin_pages_path, class: 'nav-link' do
              %i.material-icons.mr-3 build
              Utilities
            = link_to admin_settings_path, class: 'nav-link' do
              %i.material-icons.mr-3 settings
              Settings

    #main
      %header
        .row
          .col-sm-6
            %h1= @page_title
          .col-sm-6
            = yield(:page_actions)

      %section.pad
        = yield
