!!!
%html
  %head
    = render 'layouts/head'

  %body#admin
    = render 'layouts/alerts'
    = render 'layouts/navigation'

    #navigation.navdrawer.navdrawer-permanent.navdrawer-permanent-clipped{"aria-hidden" => "true", :tabindex => "-1"}
      .navdrawer-content
        %ul.navdrawer-nav
          %li.nav-item
            = link_to admin_users_path, class: 'nav-link' do
              %i.material-icons.mr-3 person
              Users
            = link_to admin_settings_path, class: 'nav-link' do
              %i.material-icons.mr-3 settings
              Settings

    #main
      = yield
